body {
  font-family: var(--vscode-font-family);
  color: var(--vscode-foreground);
  background: var(--vscode-editor-background);
  margin: 0;
}

#app > .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem;
  align-items: center;
}

#app > .header > .left > vscode-button {
  margin-right: 0.6rem;
  width: 6.5rem;
}

#app > .header > .right {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

#app > .header > .right vscode-dropdown{
  width: 10rem;
}

#app > .j2e-settings vscode-dropdown {
  width: 100%;
}